<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav mat-elevation-z15" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
            <img src="../assets/Logo.png" width="56" alt="PMS Logo">
            PMS
        </mat-toolbar>
        <mat-nav-list>
            <div *ngIf="userType==1">
                <!--IT Technician Routes-->
                <a mat-list-item routerLink="/Dashboard_It_Technician">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu1">
                    <mat-icon matPrefix>people</mat-icon>
                    <span>Users</span>
                    <mat-menu #menu1="matMenu" xPosition="before">
                        <a mat-menu-item routerLink="/Create_User">
                            <mat-icon matPrefix>person_add</mat-icon>
                            <span>Create user</span>
                        </a>
                        <a mat-menu-item routerLink="/Manage_Users">
                            <mat-icon matPrefix>people</mat-icon>
                            <span>Manage users</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item href="#">
                    <mat-icon matPrefix>build</mat-icon>
                    Business Settings
                </a>
                <a mat-list-item href="#">
                    <mat-icon matPrefix>assignment</mat-icon>
                    Reports
                </a>
                <a mat-list-item href="#">
                    <mat-icon matPrefix>help</mat-icon>
                    Help
                </a>
            </div>
            <!--IT Technician Routes ends here-->

            <span class="spacer"></span>
            <div class="footer">
                <a mat-list-item [matMenuTriggerFor]="menu">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <span>{{userName}}</span></a>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a mat-menu-item>
                        <mat-icon>person</mat-icon>
                        Personal Info
                    </a>
                    <a mat-menu-item routerLink="/Change_Password">
                        <mat-icon matPrefix>lock</mat-icon>
                        Change Password
                    </a>
                    <a mat-menu-item data-toggle="modal" data-target="#logout">
                        <mat-icon matPrefix>exit_to_app</mat-icon>
                        Logout
                    </a>
                </mat-menu>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            {{route}}
        </mat-toolbar>

        <!--Own content dynamic printing-->
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Confirmation Dialog-->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button routerLink="/" mat-flat-button color="primary" data-dismiss="modal">Yes</button>
                <button type="button" mat-stroked-button data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
