<!--Header-->
<app-header>
    <!--Change password form-->
    <mat-card class="mat-elevation-z8 margin">
        <mat-card-header>
            <mat-icon mat-card-avatar>security</mat-icon>
            <mat-card-title>Change old password</mat-card-title>
        </mat-card-header>
            <mat-card-content>

            <form (ngSubmit)="oldPasswordCheck(changePasswordForm)" [formGroup]="changePasswordForm">
                <div class="form-row">
                    <mat-form-field class="col-lg-12">
                        <input matInput placeholder="Old password" type="password" formControlName="oldPassword">
                        <!--Form Validation-->
                        <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">Old password is required.</mat-error>
                        <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('minlength')">Old password should contain 8 characters.</mat-error>
                        <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('maxlength')">Old password should not be more than 20 characters.</mat-error>
                        <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('incorrect')">Old password seems to be incorrect try again.</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row" formGroupName="passwords">
                    <div class="col-lg-6">
                        <mat-form-field class="width">
                            <input matInput type="password" #password placeholder="New password" formControlName="newPassword">
                            <mat-hint align="end" aria-live="polite">
                                {{password.value.length}} / 20
                            </mat-hint>
                            <!--Form Validation-->
                            <mat-error *ngIf="changePasswordForm.get(['passwords','newPassword']).hasError('required')">New password is required.</mat-error>
                            <mat-error *ngIf="changePasswordForm.get(['passwords','newPassword']).hasError('minlength')">New password should contain 8 characters.</mat-error>
                            <mat-error *ngIf="changePasswordForm.get(['passwords','newPassword']).hasError('maxlength')">New password should not be more than 20 characters.</mat-error>
                        </mat-form-field>
                        <mat-password-strength #passwordComponent [password]="password.value"></mat-password-strength>
                        <mat-password-strength-info [passwordComponent]="passwordComponent"
                                                    *ngIf="changePasswordForm.get(['passwords','newPassword']).invalid && (changePasswordForm.get(['passwords','newPassword']).dirty || changePasswordForm.get(['passwords','newPassword']).touched)"></mat-password-strength-info>
                    </div>

                    <mat-form-field class="col-lg-6">
                        <input matInput type="password" placeholder="Confirm new password" formControlName="cNewPassword">
                        <!--Form Validation-->
                        <mat-error *ngIf="changePasswordForm.get(['passwords','cNewPassword']).hasError('required')">Confirm password is required.</mat-error>
                        <mat-error *ngIf="changePasswordForm.get(['passwords','cNewPassword']).hasError('minlength')">Confirm password should contain 8 characters.</mat-error>
                        <mat-error *ngIf="changePasswordForm.get(['passwords','cNewPassword']).hasError('maxlength')">Confirm password should not be more than 20 characters.</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <button mat-flat-button color="primary" type="submit">Save</button>
                    <button mat-stroked-button type="button" (click)="changePasswordForm.reset()">Clear</button>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
    <!--Footer-->
    <app-footer class="footer"></app-footer>
</app-header>
