<!--Header-->
<app-header>
    <mat-card class="mat-elevation-z8 m-3">
        <mat-card-header>
            <mat-icon mat-card-avatar>report_problem</mat-icon>
            <mat-card-title>Report your complaint</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="categoryForm">
                    <ng-template matStepLabel>{{categoryName}}</ng-template>
                    <button matStepperNext hidden #next></button>
                    <form [formGroup]="categoryForm">
                        <div class="row">
                            <div class="col-lg-4 align-content-center" *ngFor="let c of categoryImages; let i = index">
                                <mat-card class="m-2 mat-elevation-z5 text-center"
                                          (click)="SubCategory(category[i].CategoryID,category[i].Name);next.click();"
                                          matRipple>
                                    <img style="width: 50px" [src]="categoryImages[i]">
                                    <mat-card-title>{{category[i].Name|uppercase}}</mat-card-title>
                                    <mat-card-content>
                                        <p>
                                            {{category[i].Description}}
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="subCategoryForm">
                    <ng-template matStepLabel>{{subName}}</ng-template>
                    <div class="row">
                        <div class="col-lg-3 align-content-center" *ngFor="let sc of subImages; let i = index">
                            <mat-card class="m-2 mat-elevation-z5 text-center"
                                      (click)="SetSubCategory(subCategory[i].SubID,subCategory[i].Name);next.click();"
                                      matRipple>
                                <img style="width: 50px" [src]="subImages[i]">
                                <mat-card-title>{{subCategory[i].Name}}</mat-card-title>
                            </mat-card>
                        </div>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel matStepperIcon="done">Please fill out the form.</ng-template>
                    <form (ngSubmit)="ReportComplaint(reportComplaintForm)" [formGroup]="reportComplaintForm"
                          class="form-row">

                        <mat-form-field class="col-lg-12">
                            <mat-label>Complaint Photo</mat-label>
                            <input placeholder="" matInput type="text" [value]="img" disabled>
                            <button matSuffix mat-button mat-icon-button type="button" (click)="CompPhoto.click()">
                                <mat-icon>add_photo_alternate</mat-icon>
                            </button>
                            <input type="file" accept="image/jpeg,image/png" #CompPhoto
                                   (input)="img=$event.target.files[0]['name']" hidden>
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Complaint details</mat-label>
                            <textarea matInput placeholder="Provide details about your complaint."
                                      formControlName="description" #desc></textarea>
                            <mat-hint align="end">{{desc.value?.length || 0}}/200</mat-hint>
                            <!--Form Validation-->
                            <mat-error *ngIf="reportComplaintForm.controls['description'].hasError('required')">
                                Complaint details is required.
                            </mat-error>
                            <mat-error *ngIf="reportComplaintForm.controls['description'].hasError('maxlength')">
                                Complaint details should not exceed 200 characters.
                            </mat-error>
                        </mat-form-field>

                        <button type="submit" hidden #submit></button>
                    </form>
                    <div class="float-right mt-1">
                        <button mat-stroked-button type="button"
                                (click)="stepper.reset();reportComplaintForm.reset();" class="mr-1">Reset
                        </button>
                        <button mat-flat-button color="primary" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter" class="ml-1">Save
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</app-header>

<!-- Confirmation Dialog-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to lodge this complaint?
            </div>
            <div class="modal-footer">
                <button mat-flat-button color="primary" type="button" (click)="submit.click();stepper.reset();"
                        data-dismiss="modal">
                    Yes
                </button>
                <button mat-stroked-button type="button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
