<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav mat-elevation-z15" fixedInViewport [position]="(isHandset$ | async) ? 'end' : 'start'"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
            <mat-icon></mat-icon>
           <span class="text-black">Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <!--IT Technician Routes-->
            <div *ngIf="userType==1">
                <a mat-list-item routerLink="/Dashboard_It_Admin">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu1">
                    <mat-icon matPrefix>people</mat-icon>
                    <span>Users</span>
                    <mat-menu #menu1="matMenu" [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Create_User" class="noStyle">
                            <mat-icon matPrefix>person_add</mat-icon>
                            <span>Create user</span>
                        </a>
                        <a mat-menu-item routerLink="/Manage_Users" class="noStyle">
                            <mat-icon matPrefix>people</mat-icon>
                            <span>Users</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item routerLink="/Business_Information">
                    <mat-icon matPrefix>build</mat-icon>
                    Business Settings
                </a>
                <a mat-list-item routerLink="/User_Reports">
                    <mat-icon matPrefix>assignment</mat-icon>
                    Reports
                </a>
                <a mat-list-item href="#">
                    <mat-icon matPrefix>help</mat-icon>
                    Help
                </a>
            </div>
            <!--IT Technician Routes ends here-->

            <!--Tenant Routes-->
            <div *ngIf="userType==2">
                <a mat-list-item routerLink="/Dashboard_Tenant">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>

                <a mat-list-item routerLink="/Report_Complaint">
                    <mat-icon>report_problem</mat-icon>
                    Report Complaint
                </a>

                <a mat-list-item routerLink="/Complaint_Status_Track">
                    <mat-icon>view_list</mat-icon>
                    Check Complaint Status
                </a>
            </div>
            <!--Tenant Routes ends here-->

            <!--Maintenance Supervisor Routes-->
            <div *ngIf="userType==3">
                <a mat-list-item routerLink="/Dashboard_Supervisor">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu2">
                    <mat-icon matPrefix>people</mat-icon>
                    <span>Owners</span>
                    <mat-menu #menu2="matMenu" [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Create_Owner" class="noStyle">
                            <mat-icon matPrefix>person_add</mat-icon>
                            <span>Create owner</span>
                        </a>
                        <a mat-menu-item routerLink="/Manage_Owners" class="noStyle">
                            <mat-icon matPrefix>people</mat-icon>
                            <span>Owners</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu3">
                    <mat-icon matPrefix>location_city</mat-icon>
                    <span>Property</span>
                    <mat-menu #menu3='matMenu' [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Add_Property" class="noStyle">
                            <mat-icon matPrefix>add</mat-icon>
                            <span>Add Property</span>
                        </a>
                        <a mat-menu-item routerLink="/Manage_Property" class="noStyle">
                            <mat-icon matPrefix>list</mat-icon>
                            <span>Properties</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu4">
                    <mat-icon matPrefix>people</mat-icon>
                    <span>Tenants</span>
                    <mat-menu #menu4='matMenu' [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Assign_Property" class="noStyle">
                            <mat-icon matPrefix>how_to_reg</mat-icon>
                            <span>Assign Property</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu5">
                    <mat-icon matPrefix>people</mat-icon>
                    <span>Supplier</span>
                    <mat-menu #menu5="matMenu" [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Create_Supplier" class="noStyle">
                            <mat-icon matPrefix>person_add</mat-icon>
                            <span>Create supplier</span>
                        </a>
                        <a mat-menu-item routerLink="/Manage_Supplier" class="noStyle">
                            <mat-icon matPrefix>people</mat-icon>
                            <span>Suppliers</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item [mat-menu-trigger-for]="menu6">
                    <mat-icon matPrefix>report</mat-icon>
                    <span>Complaints</span>
                    <mat-menu #menu6="matMenu" [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                        <a mat-menu-item routerLink="/Assign_Complaint" class="noStyle">
                            <mat-icon matPrefix>next_week</mat-icon>
                            <span>Assign complaints</span>
                        </a>
                    </mat-menu>
                </a>

                <a mat-list-item routerLink="">
                    <mat-icon matPrefix>assignment</mat-icon>
                    Reports
                </a>
                <a mat-list-item href="#">
                    <mat-icon matPrefix>help</mat-icon>
                    Help
                </a>
            </div>
            <!--Maintenance Supervisor ends here-->

            <span class="spacer"></span>
            <div class="fixedBottom">
                <a mat-list-item [matMenuTriggerFor]="menu5">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <span>{{userName}}</span></a>
                <mat-menu #menu5="matMenu" [xPosition]="(isHandset$ | async) ? 'after' : 'before'">
                    <a mat-menu-item routerLink="/Update_Personal_Information" class="noStyle">
                        <mat-icon>account_box</mat-icon>
                        Personal Info
                    </a>
                    <a mat-menu-item routerLink="/Change_Password" class="noStyle">
                        <mat-icon matPrefix>lock</mat-icon>
                        Change Password
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-menu-item data-toggle="modal" data-target="#logout" class="noStyle">
                        <mat-icon matPrefix>exit_to_app</mat-icon>
                        Logout
                    </a>
                </mat-menu>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="d-flex flex-column h-100">
        <mat-toolbar color="primary">
            <img [src]="logo" *ngIf="logo" width="56" alt="PMS Logo" class="hidden">
            <span class="text-black">{{BusinessName}}</span>
            <span class="spacer"></span>
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>

        <!--Own content dynamic printing-->
        <ng-content ></ng-content>
        <!--Footer-->
        <app-footer class="mt-auto"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- Confirmation Dialog-->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button routerLink="/" mat-flat-button color="primary" data-dismiss="modal">Yes</button>
                <button type="button" mat-stroked-button data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
