<!--Header-->
<app-header>
    <!--Change password form-->
    <mat-card class="mat-elevation-z8 margin">
        <mat-card-header>
            <mat-icon mat-card-avatar>security</mat-icon>
            <mat-card-title *ngIf="userInfo!=null">Reset old password -> {{userInfo.FirstName}} {{userInfo.Surname}} -
                ({{userInfo.Email}})
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <form (ngSubmit)="ResetPassword(resetForm)" [formGroup]="resetForm">
                <div class="form-row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput type="password" #password placeholder="New password"
                                   formControlName="password">
                            <mat-hint align="end" aria-live="polite">
                                {{password.value.length}} / 20
                            </mat-hint>
                            <!--Form Validation-->
                            <mat-error *ngIf="resetForm.controls['password'].hasError('required')">Password is required.
                            </mat-error>
                            <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">Password should
                                contain
                                8 characters.
                            </mat-error>
                            <mat-error *ngIf="resetForm.controls['password'].hasError('maxlength')">Password should not
                                be
                                more than 20 characters.
                            </mat-error>
                        </mat-form-field>
                        <mat-password-strength #passwordComponent [password]="password.value"></mat-password-strength>
                        <mat-password-strength-info [passwordComponent]="passwordComponent"
                                                    *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)"></mat-password-strength-info>
                    </div>

                </div>

                <div class="form-row">
                    <button type="submit" #submit style="display: none;"></button>
                    <button mat-flat-button color="primary" type="button" data-toggle="modal"
                            data-target="#exampleModalCenter">Save
                    </button>
                    <button mat-stroked-button type="button" data-toggle="modal" data-target="#exampleModalCenter1">
                        Clear
                    </button>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</app-header>

<!-- Confirmation Dialog-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to reset the password?
            </div>
            <div class="modal-footer">
                <button mat-flat-button color="primary" type="button" data-dismiss="modal" (click)="submit.click()">Yes
                    changes
                </button>
                <button mat-stroked-button type="button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Clear Dialog-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear all the fields?
            </div>
            <div class="modal-footer">
                <button mat-flat-button color="primary" type="button" data-dismiss="modal" (click)="resetForm.reset()">
                    Yes
                </button>
                <button mat-stroked-button type="button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
