/* You can add global styles to this file, and also import other style files */

/*Navbar styles*/
html, body {
    height: 100%;
}

body {
    margin: 0;
}

/*Snackbar Theming*/
.warning{
    background: orange;
    color: white;
    justify-content: center;
}

.danger {
    background: red;
    color: white;
    justify-content: center;
}

.success {
    background: green;
    color: white;
    justify-content: center;
}

/*Default padding for objects*/
.margin {
    margin: 15px;
}

/*Footer Styles*/
.fixedBottom {
    bottom: 0;
    width: 100%;
    position: absolute;
}

/*Form fileds width*/
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/*Mat spacer*/
.spacer {
    flex: 1 1 auto;
}
