/*Navbar styles*/
html, body {
    height: 100%;
}

body {
    margin: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23607d8b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23607d8b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}
.carousel-indicators li{
    background-color: #607d8b!important;
}

    /* Rules for sizing the icon. */
.sm-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.lg-36 {
    font-size: 36px;
}

.xlg-48 {
    font-size: 48px;
}

.material-icon {
    padding-top: 12px;
}

/*Mat card header margin remove*/
.mat-card-header-text {
    margin: 0 0 0 0 !important;
}

/*Black Text*/
.text-black {
    color: rgba(0, 0, 0, 0.87);
}

/*Snackbar Theming*/
.snack {
    background: #607d8b;
    color: #ffffff;
    justify-content: center;
}

/*Default padding for objects*/
.margin {
    margin: 15px;
}

/*Footer Styles*/
.fixedBottom {
    bottom: 0;
    width: 100%;
    position: absolute;
}

/*Form field width*/
.mat-form-field {
    width: 100%;
}

/*Mat spacer*/
.spacer {
    flex: 1 1 auto;
}

/*Mat Responsive Table*/
@media screen and (max-width: 937px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }

    .mat-table caption {
        font-size: 1em;
    }

    /*  Enable this to hide header*/
    .mat-table .mat-header-cell {

        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .mat-table .mat-header-row {
        display: none;
    }

    .mat-table .mat-row {
        border-bottom: 2px solid #ddd;
        display: block;
    }

    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
    }

    .mat-table .mat-cell .mat-input-element {
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0;
        padding-top: 0;
    }

    .mat-table .mat-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;

        font-size: .85em;
    }

    .mat-table .mat-cell:last-child {
        border-bottom: 0;
        padding-right: 0;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
        padding-left: 0;
    }
}
