<!--Form Start-->
<form (ngSubmit)="loginCheck(loginForm)" [formGroup]="loginForm" class="center">
    <img [src]="logo" *ngIf="logo" width="310" alt="PMS Logo">
    <br>
    <h1 class="mat-h1" align="center">Login</h1>
    <!--Email Input-->
    <mat-form-field class="width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email Address" type="email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <!--Form Validation-->
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">Check your email format.</mat-error>
    </mat-form-field>
    <br>
    <!--Password Input-->
    <mat-form-field class="width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <!--Form Validation-->
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Password should contain 8 characters.</mat-error>
    </mat-form-field>
    <br>
    <div align="center">
        <button mat-raised-button class="width" type="submit">Login</button>
    </div>
    <p class="mt-5 mb-3 footer mat-subheading-1 text-center">©{{date.getFullYear()}}</p>
</form>
