<!--Header-->
<app-header>
    <!--Create user form-->
    <mat-card class="mat-elevation-z8 margin">
        <mat-card-header>
            <mat-icon mat-card-avatar>person_add</mat-icon>
            <mat-card-title>Add new owner</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="createOwner(createOwnerForm)" [formGroup]="createOwnerForm">

                <div class="form-row">
                    <mat-form-field class="col-lg-6">
                        <input matInput placeholder="First name" type="text" formControlName="name">
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['name'].hasError('required')">First name is required.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['name'].hasError('maxlength')">First name may only
                            contain 45 characters.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6">
                        <input matInput placeholder="Last name" type="text" formControlName="surname">
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['surname'].hasError('required')">Last name is
                            required.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['surname'].hasError('maxlength')">Last name may only
                            contain 45 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field class="col-lg-6">
                        <input matInput placeholder="Contact Number" formControlName="contact" type="tel"
                               pattern="[0-9]{3}[0-9]{3}[0-9]{4}" max="10">
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['contact'].hasError('required')">Contact number is
                            required.
                        </mat-error>
                        <mat-error
                                *ngIf="createOwnerForm.controls['contact'].hasError('maxlength') || createOwnerForm.controls['contact'].hasError('minlength')">
                            Contact number may only be 10 characters.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6">
                        <input matInput placeholder="Email address" formControlName="email" type="email">
                        <!--Form Validation-->
                        <mat-error *ngIf="emailCheck">It seems this email exists on our system.</mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['email'].hasError('required')">Email is required.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['email'].hasError('maxlength')">Email may only be 200
                            characters.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['email'].hasError('pattern')">Check your email format.
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="form-row">
                    <mat-form-field class="col-lg-12">
                        <input matInput placeholder="1234 Main St" formControlName="address1">
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['address1'].hasError('required')">Address is required.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['address1'].hasError('maxlength')">Address should not
                            exceed 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field class="col-lg-12">
                        <input matInput placeholder="Apartment, studio, or floor" formControlName="address2">
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['address2'].hasError('required')">Address 2 is
                            required.
                        </mat-error>
                        <mat-error *ngIf="createOwnerForm.controls['address2'].hasError('maxlength')">Address 2 should
                            not
                            exceed 100 characters.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field class="col-lg-6">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city" (selectionChange)="suburbLoad($event.value)">
                            <mat-option *ngFor="let c of cities" [value]="c.CityID">{{c.CityName}}</mat-option>
                        </mat-select>
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['city'].hasError('required')">A city must be selected.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6">
                        <mat-label>Suburb</mat-label>
                        <mat-select formControlName="suburb" [disabled]="createOwnerForm.value['city'] === null">
                            <mat-option *ngFor="let s of suburbs" [value]="s.SuburbID">{{s.SuburbName}}</mat-option>
                        </mat-select>
                        <!--Form Validation-->
                        <mat-error *ngIf="createOwnerForm.controls['suburb'].hasError('required')">A suburb must be
                            selected.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="float-right mt-1">
                    <button type="submit" hidden #submit></button>
                    <button mat-flat-button color="primary" type="button" data-toggle="modal" data-target="#exampleModalCenter" class="mr-1">Save</button>
                    <button mat-stroked-button type="button" data-toggle="modal" data-target="#exampleModalCenter1" class="ml-1">Clear</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</app-header>

<!-- Confirmation Dialog-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to add the new owner?
            </div>
            <div class="modal-footer">
                <button type="button" mat-flat-button color="primary" data-dismiss="modal" (click)="submit.click()">Yes</button>
                <button type="button" mat-stroked-button data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Clear Modal-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear all the fields?
            </div>
            <div class="modal-footer">
                <button type="button" mat-flat-button color="primary" (click)="createOwnerForm.reset()" data-dismiss="modal">Yes</button>
                <button type="button" mat-stroked-button data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
